<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>JellyFish</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}"/>
</head>

<body>
  <section class="vbox">
    <header class="bg-white header header-md navbar navbar-fixed-top-xs">
      <a href="#" class="navbar-brand navbar-left">
        <span class="font-bold">Jellyfish</span>
      </a>
      <a href="#" class="navbar-brand navbar-right">
        <span class="font-bold">Visualization & Interface Design Innovation</span>
      </a>
    </header>

    <section id="content" class="hbox stretch">
      <section class="vbox scrollable wrapper">
        <div class="row m-b-n">

          <div class="col-sm-3">
            <section class="panel panel-default">
              <header class="panel-heading">Control Panel</header>
              <section class="panel-body">
                <div id="control-panel"></div>
              </section>
            </section>
          </div>

          <div class="col-sm-3" style="padding-left: 0">
            <section class="panel panel-default">
              <header class="panel-heading">Star Coordinate</header>
                <section class="panel-body">
                  <div id="compass"></div>
                </section>
            </section>
            <section class="panel panel-default">
              <header class="panel-heading">Correlation Matrix</header>
              <section class="panel-body">
                <div id="matrix"></div>
              </section>
            </section>
          </div>

          <div class="col-sm-3" style="padding-left: 0">
            <section class="panel panel-default">
              <header class="panel-heading">-</header>
                <section class="panel-body">
                  <div id="view-3"></div>
                </section>
            </section>
            <section class="panel panel-default">
              <header class="panel-heading">-</header>
                <section class="panel-body">
                  <div id="view-4"></div>
                </section>
            </section>
          </div>

          <div class="col-sm-3" style="padding-left: 0">
            <section class="panel panel-default">
              <header class="panel-heading">-</header>
                <section class="panel-body">
                  <div id="view-5"></div>
                </section>
            </section>
            <section class="panel panel-default">
              <header class="panel-heading">-</header>
                <section class="panel-body">
                  <div id="view-6"></div>
                </section>
            </section>
          </div>

        </div>
      </section>
    </section>
  </section>

  <!-- Libraries -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.0/react.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>      

  <!-- Scripts -->
  <script src="{{url_for('static', filename='js/config.js')}}"></script>
  <script src="{{url_for('static', filename='js/utils.js')}}"></script>
  <script src="{{url_for('static', filename='js/views/control-panel.js')}}"></script>
  <script src="{{url_for('static', filename='js/views/scatter-plot.js')}}"></script>
  <script src="{{url_for('static', filename='js/views/axis.js')}}"></script>
  <script src="{{url_for('static', filename='js/views/primitives.js')}}"></script>
  <script src="{{url_for('static', filename='js/views/compass.js')}}"></script>
  <script src="{{url_for('static', filename='js/views/matrix.js')}}"></script>    
  <script src="{{url_for('static', filename='js/main.js')}}"></script>       

</body>
</html>